# Node modules (globalnie i w podfolderach)
node_modules/
**/node_modules/

# Logi
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / Output
dist/
build/
.out/
.next/

# Env pliki
.env
**/.env

# Docker
pgdata/
*.dockerignore

# IDE / system
.vscode/
.idea/
.DS_Store

# TurboRepo cache
.turbo/

# Test coverage
coverage/
